
.card-link {
    display: inline-block; height: 100%;
    text-decoration: none;
    // margin-bottom: 2rem;
    border-bottom: 2rem solid transparent;

    time {
        color: $black;
    }

    &:hover {
        text-decoration: none;

        .read-more {
            &:after,
            &::after {
                right: -28px;
            }
        }

    }
}

.content-card{

    display: block; height: 100%;
    padding: calculateRem(14) 2rem 1rem;

    &:before,
    &::before {
        display: block; width: 100%; height: 1px;
        background: $black;
        margin: 1rem 0 calculateRem(12);
        content: "";
    }

    &.last-card{
        &:before,
        &::before {
            display: none;
        }
    }

}

.news-card {
    display: flex; width: 100%; height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $blue;
    box-sizing: border-box;

    h2{
        font-size: 1.375rem;
        padding-bottom: 1px;
    }

    time {
        font-size: 1rem;
    }


    .nav {
        padding: 1rem;
        box-sizing: border-box;

        a{
            position: relative;
            font: {
                family: $fontFamily;
                size: calculateRem(16);
            }
            color: $black;
            padding-bottom: calculateRem(7);
            border-bottom: 3px solid $gold;

            &:after,
            &::after {
                display: block;
                position: absolute; top: -5px; right: -23px;
                content: "→";
                transition: right $transitionDuration $transitionTimingFunction;
            }

            &:hover {
                text-decoration: none;

                &:after,
                &::after {
                    right: -27px;
                }
            }
        }
    }

}

.news-feed-card {
    display: block; width: 100%;
    margin-bottom: 32px; padding: 2rem;
    border: 1px solid $blue;
    box-sizing: border-box;


    img {
        float: right;
        padding-left: 1rem;
    }

    h3 {
        padding: {
            top: 15px;
            bottom: 18px;
        }
    }

    time {
        display: block;
        font-size: 1rem;
        font-weight: 300;
        color: $black;
        padding-bottom: 18px;
    }

    p {
        font-size: 1rem;

        &.border-link{
            padding: 16px 0 1px;
            color: $black;
        }
    }

    &:hover{
        text-decoration: none;
    }
}

.icon-card {
    height: 100%;
    padding: 2rem;
    background: $white;
    box-sizing: border-box;

    figure {
        padding-bottom: 24px;
        img {
            display: block; width: 40px; height: 40px;
            position: relative;

        }
    }

    p {
        font-size: 16px;
    }

    @include media-breakpoint-down(md) {
        border-bottom: 2rem solid $gray;
    }

}

.stats-card {
    position: relative;
    padding: .5rem 2rem;
    background: $blue;
    box-sizing: border-box;
    @include media-breakpoint-down(sm) {
        margin-top: calculateRem(20);
    }

    &:after,
    &::after {
        display: block; width: calc(100% - 4rem); height: 1px;
        position: absolute; top: 50%; left: 0px;
        transform: translateY(-50%);
        margin: 0 2rem;
        background: $white;
        content: "";
    }

    .stats {
        padding-top: 24px;
        padding-bottom: 25px;

        * {
            color: $white;
        }

        h4 {
            font: {
                size: 60px;
                weight: 400;
            }
            line-height: 1;
            margin-bottom: 1px;
        }

        p {
            font-size: 16px;
            padding-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

    }
}
