// Colors

$black: #000000;
$white: #ffffff;
$blue: #0C3458;
$gold: #CA8A4B;
$gray: #EFEDEB;

.background-blue {
    background-color: $blue;
}

.background-gray {
    background-color: $gray;
}

.background-white {
    background-color: $white;
}
