<footer>
    <div class="container">
        <div class="row align-items-center">
            <div class="d-none d-lg-block col-lg-2">
                <figure>
                    <img src="/bin/images/ui/Liwa-logo-KO-RGB.svg" alt="" title="" class="footer-logo" />
                </figure>
            </div>
            <div class="col-12 col-lg-10 align-self-center">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <p>
                            Abu Dhabi, UAE
                            <br />
                            <a href="tel:+971 2 622-2060">+971 2 622-2060</a>
                        </p>
                    </div>
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-3 mb-4 mb-md-0">
                        <p>
                            <a href="/privacy-policy" class="underline">Privacy policy</a>
                        </p>
                        <p>
                            <a href="/disclaimer" class="underline">Disclaimer</a>
                        </p>
                        <p class="pb-0">
                            <a href="mailTo:info@liwacap.com" class="underline">info@liwacap.com</a>
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="social-toolbar">
                            <p>Stay connected with us:</p>
                            <div class="social-links">
                                <a href="https://twitter.com/liwacap" taget="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/liwa-capital-advisors/" taget="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="https://www.instagram.com/liwacapital/" taget="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCFMQwkUXzMp5D2dks_YLFIg" taget="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://open.spotify.com/show/4hRghCjeXJObVvkhRBHimF?si=MYQ6B2-GRvuvfSN7hZUyUA&amp;dl_branch=1" taget="_blank">
                                    <i class="fab fa-spotify"></i>
                                </a>
                                <a href="https://podcasts.apple.com/us/podcast/liwa-capital-advisors-fireside-chats/id1579770233" taget="_blank">
                                    <i class="fal fa-podcast"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-lg-none col-6">
                        <figure>
                            <img src="/bin/images/ui/Liwa-logo-KO-RGB.svg" alt="" title="" class="footer-logo mobile" />
                        </figure>
                    </div>
                    <div class="col-6 col-lg-12 align-items-end">
                        <p class="copyright">&copy;2020 Liwa Capital Advisors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
