<footer>
    <div class="container-full">
        <div class="row bg-liwa-blue" style="padding:40px 0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 footer-logo">
                        <img src="/bin/images/ui/logo-2023.png" alt="" title="" style="max-width:175px"/>
                    </div>
                    <div class="col-12 col-lg-6 footer-address">
                       <a href="https://maps.app.goo.gl/v3y3eoSBmUWHcGwn6"> <span style="padding-right:30px; border-right:1px solid #fff"><i class="fa-solid fa-location-dot"></i> Abu Dhabi, UAE</span></a>
                        <span style="padding-left:30px"><i class="fa-solid fa-phone"></i> <a href="tel:+97126222060">+971 2 622-2060</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="container">
                <div class="row d-none d-lg-block">
                    <div class="col-12 footer-links">
                        <span><a href="mailto:info@liwacap.com">Contact Us</a></span>
                        <span><a href="https://liwacap.com/privacy-policy">Privacy Policy</a></span>
                        <span><a href="https://liwacap.com/disclaimer-new">Disclaimer</a></span>
                        <span style="border-right:none">Copyright @ 2023. Liwa Capital Advisors Limited</span>
                    </div>
                </div>
                <div class="row d-lg-none">
                    <div class="col-4" style="border-right:1px solid #000">
                        <a href="mailto:info@liwacap.com">Contact Us</a>
                    </div>
                    <div class="col-4" style="border-right:1px solid #000">
                        <a href="https://liwacap.com/privacy-policy">Privacy Policy</a>
                    </div>
                    <div class="col-4">
                        <a href="https://liwacap.com/disclaimer-new">Disclaimer</a>
                    </div>
                    <div class="col-12" style="text-align:center; margin-top:20px">
                        <span>Copyright @ 2023. Liwa Capital Advisors Limited</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
