{% extends "_includes/layouts/index" %}

{% set sectionName = 'copy-page' %}

{% set slug = 'disclaimer' in entry.title|lower ? 'disclaimer' : ''  %}

{% block masthead %}
	{% include "_includes/sections/masthead" with {
        'signpost': '',
        'isNewsEntry': true
    } %}
{% endblock %}

{% block main %}
    <main class="main {{ slug }}" data-template="{{ sectionName }}">

        <section class="copy-page" data-section="copy-page">
            {% include '_includes/components/section-title' with { 'title': entry.title } %}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-11">
                        {{ entry.bodyCopy }}
                    </div>
                </div>
            </div>
        </section>

        {% include '_includes/sections/contact-us' %}
    </main>
{% endblock %}
